*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction:column;
}
#wrapper-div{
    display: flex;
    flex-direction:column;
    width: 95%;
    min-height: 100px;
    margin: auto;   
}
#logo-div{
    display: flex;
    flex-direction: row;
    width: 100%;
   min-height:50px;
   background-image: url(image.jpg)  ;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     align-items: center;
     padding-left:2%;
    position: relative;
}

#nav-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    background-color:black;
    margin-top: 4px;
    justify-content:left;
    align-items:left;
}
#header-banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

}
#main-div{
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height: 80px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between; 
}


#body-area-div{
display:table-column-group;
 flex-direction:row;
 flex-basis: 100%;
 border-style:solid;
 justify-content:center;
align-items:center;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10px;
margin-top: 10px;
min-height:400px;
text-align: center;




}
#footer-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color:black;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
}
nav a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    float: left;
    color: white;}

    .menu-btn:hover{
        background-color: aliceblue;
         color: #333;}

         @media screen and (max-width: 700px){
            nav{
            flex-direction: column;
            padding: 10px  0px;
             }
             .flex-align-left{
                margin-left: 0px;
            }
            
        }

             footer{
                display: flex;
            }
          footer a{
                text-decoration: none;
                height: 100%;
                width: 100%;
                padding:10px;
                text-align: center;
                float: left;
                color: white;}

 

#about-div{ 
display:flex;
flex-direction:row;
 flex-basis: 50%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10px;
margin-top: 10px;
min-height:400px;
text-align: center;
}
.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-content: center;
}
section h1{
    text-align: center;
}
section a{
    margin: 10px;
}
section h5{
    text-align: center;
    margin: 10px;
}
section h4{
    text-align: center;
    margin: 10px;
}
.banner-img{
    height: 100%;
    width: 100%;
}
.h1{
    text-align: center;
      letter-spacing: 0.2em;
    text-shadow:3px 5px 10px;
}
.hello{
    height:50vh;
    width: 65vh;
    border-style:solid;
    border-color: #333;


  
}
.notes{
    border-style: solid;
    width: 50%;
    margin-left: 25%;

}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  .img-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;

  }
  .img-container img{
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  .header-container{
  font-size:3vw;
  }
  .head{
  letter-spacing:0.2em;
  text-shadow:3px 5px 10px;
  color:yellow
  }
  
